workflow/.snakemake/*
results/00LOG/*
results/LDSR_annotation_files/*
config/profile/*
results/logs/*
results/magma/*.magma.genes.out
results/magma/*.gsa.sets.genes.out
results/magma/*.genes.raw
results/magma/*.log
results/magma/*.genes.out
results/magma/*.log.suppl
results/magma/*.gsa.genes.out
results/magma/*.genes.annot
results/GWAS_for_ldsc/*
results/GWAS_for_MAGMA/*
#results/LDSR_part_herit/baseline_v1.2/*
#!results/LDSR_part_herit/baseline_v1.2/*.tsv
#results/LDSR_part_herit/baseline_v1.2/herring_dwnSmpl/*.log
#results/LDSR_part_herit/baseline_v1.2/herring_dwnSmpl/*.results
#!results/LDSR_part_herit/baseline_v1.2/herring_dwnSmpl/*.tsv
workflow/*.log
resources/*
workflow/rules/old/*
workflow/envs/*
workflow/scripts/snRNAseq_rm_MHC_from_ref.R
results/R_objects/*
results/gene_lists/prep_*
results/ctd_objects/*
results/rare_variants/boxplots_temp/*
results/rare_variants/rare_variants_analysis_*
