workflow/.snakemake/*
workflow/.cache/
workflow/rules/old/*
workflow/scripts/old/*
resources/go_terms/old/*
results/00LOG/*
results/LDSR_annotation_files/*
config/profile/*
results/logs/*
results/gene_lists/herring/LDSR/classic_MHC/*
results/gene_lists/herring/LDSR_protein_coding/classic_MHC/*
results/gene_lists/herring/LDSR_top2000/classic_MHC/*
results/gene_lists/herring/MAGMA/classic_MHC/*
results/magma/classic_MHC/*
results/magma_conditional/*.magma.genes.out
results/magma_conditional/*gsa.sets.genes.out
results/magma_conditional/*.genes.raw
results/magma_conditional/*.log
results/magma_conditional/*.genes.out
results/magma_conditional/*.log.suppl
results/magma_conditional/*.gsa.genes.out
results/magma_conditional/*.genes.annot
results/magma/*.magma.genes.out
results/magma/*.genes.raw
results/magma/*.log
results/magma/*.genes.out
results/magma/*.log.suppl
results/magma/*.gsa.genes.out
results/magma/*.genes.annot
results/magma/dwnSmpl_1/*
results/magma/dwnSmpl_2/*
results/magma/dwnSmpl_3/*
results/magma/lvl1/*
results/magma/top1000/*
results/GWAS_for_ldsc/*
results/GWAS_for_MAGMA/*
#results/LDSR_part_herit/baseline_v1.2/*
#!results/LDSR_part_herit/baseline_v1.2/*.tsv
results/LDSR_part_herit/baseline_v1.2/herring/classic_MHC/*.log
results/LDSR_part_herit/baseline_v1.2/herring/classic_MHC/*.results
results/LDSR_part_herit/baseline_v1.2/herring_top2000/classic_MHC/*.log
results/LDSR_part_herit/baseline_v1.2/herring_top2000/classic_MHC/*.results
results/LDSR_part_herit/baseline_v1.2/herring_protein_coding/classic_MHC/*.log
results/LDSR_part_herit/baseline_v1.2/herring_protein_coding/classic_MHC/*.results
results/LDSR_part_herit/baseline_v1.2/herring_GO_term_genes/*.log
results/LDSR_part_herit/baseline_v1.2/herring_GO_term_genes/*.results
results/LDSR_part_herit/baseline_v1.2/herring_dwnSmpl/*.log
results/LDSR_part_herit/baseline_v1.2/herring_dwnSmpl/*.results
results/LDSR_part_herit/baseline_v1.2/herring_cond_int/*.log
results/LDSR_part_herit/baseline_v1.2/herring_cond_int/*results
results/LDSR_part_herit/baseline_v1.2/herring/*.log
results/LDSR_part_herit/baseline_v1.2/herring/*.results
results/LDSR_part_herit/baseline_v1.2/herring/top1000_genes/*
results/LDSR_part_herit/baseline_v1.2/herring_top2000/*.log
results/LDSR_part_herit/baseline_v1.2/herring_top2000/*.results
results/LDSR_part_herit/baseline_v1.2/herring_dwnSmpl/dwnSmpl_1/*.log
results/LDSR_part_herit/baseline_v1.2/herring_dwnSmpl/dwnSmpl_1/*.results
results/LDSR_part_herit/baseline_v1.2/herring_dwnSmpl/dwnSmpl_2/*.log
results/LDSR_part_herit/baseline_v1.2/herring_dwnSmpl/dwnSmpl_2/*.results
results/LDSR_part_herit/baseline_v1.2/herring_dwnSmpl/dwnSmpl_3/*.log
results/LDSR_part_herit/baseline_v1.2/herring_dwnSmpl/dwnSmpl_3/*.results
results/LDSR_part_herit/baseline_v1.2/herring_protein_coding/*.log
results/LDSR_part_herit/baseline_v1.2/herring_protein_coding/*.results
#!results/LDSR_part_herit/baseline_v1.2/herring_dwnSmpl/*.tsv
workflow/*.log
resources/containers/*
resources/prioritised_genes/*
resources/rare_variants/*
resources/ldsr/
resources/raw_data/*
resources/refs/*
resources/sheets/*
!resources/sheets/celltypes.tsv
!resources/sheets/celltypes_goterms.tsv
!resources/sheets/interaction_list
workflow/rules/old/*
workflow/envs/*
results/R_objects/*
results/gene_lists/prep_*
results/gene_lists/lvl1/*
results/gene_lists/herring/LDSR_protein_coding/lvl1/*
results/gene_lists/herring/LDSR_top1000_genes/*
results/gene_lists/herring/LDSR_top2000/lvl1/*
results/gene_lists/herring/LDSR/lvl1/*
results/gene_lists/herring/MAGMA/lvl1/*
results/gene_lists/herring/MAGMA/herring_top1000_lvl2.txt
results/gene_lists/herring_dwnSmpl/LDSR/dwnSmpl_1/lvl1/*
results/gene_lists/herring_dwnSmpl/LDSR/dwnSmpl_2/lvl1/*
results/gene_lists/herring_dwnSmpl/LDSR/dwnSmpl_3/lvl1/*
results/gene_lists/herring_dwnSmpl/MAGMA/dwnSmpl_1/lvl1/*
results/gene_lists/herring_dwnSmpl/MAGMA/dwnSmpl_2/lvl1/*
results/gene_lists/herring_dwnSmpl/MAGMA/dwnSmpl_3/lvl1/*
results/figures/*
results/ctd_objects/*
results/rare_variants/*
results/magma/snRNAseq_SCZ_PFC_only.herring.lvl2.magma.35UP_10DOWN.gsa.out
results/magma/snRNAseq_HEIGHT_PFC_only.herring.lvl2.magma.35UP_10DOWN.gsa.out
